.main {
   width: 400px !important;
   margin: 20px;
 }
label { 
  font-weight: 700;
  color: white;
}
 .bottom {
   margin-top: 20px;
 }

 select { 
   display: inline !important;
 }

 .middle {
   width: 35px;
 }
 
.btn {
  border-radius: 40px;
}

.btn-success:hover {
color : black;
}

.btn-warning {
  color : #fff;
}

.form-group  {
  margin:  0px 5px;
}
body { 
  background-color: #45A29C;
}